.Login-container {
  background-color: #1875bb;
  height: 100vh;
}
.image-map-Wrapper {
  background-image: url("../../images/Login.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 70vw;
}
.Login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-side {
  width: 432px;
  height: 492px;
  background: #ffffff;
  border-radius: 24px;
}
.Logo-Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.syne-Logo-image {
  width: 176px;
  height: 104px;
  margin-top: 17px;
}
.login-form {
  padding: 20px;
}
.login-form-input {
  background: #ededed !important;
}
.login-form-input:focus {
  outline: none !important;
  box-shadow: none !important;
}
.forget-link {
  display: flex;
  justify-content: flex-end;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;

  color: #8e8e8e;
}
.forget-link:hover {
  color: #8e8e8e;
}
.login-form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}
.login-submit-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-submit-btn {
  width: 118px;
  height: 46px;
  margin-top: 20px;
  background: #125a90 !important;
  border-radius: 7px !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;

  color: #ffffff;
}
.login-submit-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.login-powerd-by {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #d9d9d9;
}

/* Resonsiveness */
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .Login-container {
    background-color: white;
  }

  .left-side {
    display: none;
  }
  .right-side {
    /* margin-top: 150px !important; */
  }
  .syne-Logo-image {
    margin-top: 30px;
    width: 100px;
    height: 60px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .left-side {
    display: none;
  }
  .right-side {
    margin-top: 250px !important;
    width: 690px !important;
    height: 592px;
  }
  .login-form-input {
    margin-bottom: 60px !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .right-side {
    /* width: 432px !important;
    height: 492px; */
    margin-top: -400px !important;
  }
  /* .login-form-input {
    margin-bottom: 60px !important;
  } */
}
